@{
    Layout = null;
}
<!-- Incluir jQuery en un archivo HTML -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase Básica de jQuery</title>
   <script src="~/lib/jquery/dist/jquery.js"></script> 
  
    <style>
        .rojo {
            color: red;
        }

        .verde {
            color: green;
        }
         p {
    margin: 8px;
    font-size: 16px;
  }
  .selected {
    color: blue;
  }
  .highlight {
    background: yellow;
  }
    </style>
</head>
<body>

    <p id="miTexto">Texto inicial</p>
    <input type="text" id="miInput" value="Valor inicial" /><br />
    <a href="https://www.google.com" id="miEnlace">Ir a Google</a>
    <br />

    <button id="mostrar">Mostrar Mensaje</button>
    <br />
    <button id="cambiar">Cambiar Textos</button>
    <br />
    <input type="text" id="valor1" value="" />
    <br />
    <input type="text" id="valor2" value="" />
    <br />
    <button id="sumar">Sumar</button>
    <br />
    <input type="text" id="resultado" value="" />
    <br />
    <div id="contenedor">
        <p>Elemento 1</p>
    </div>
    <button id="agregar">Agregar Elemento</button>
    <button id="eliminar">Eliminar Elemento</button>
    <br />
    <p id="miTextoEstilo" class="rojo">Texto con clase "rojo"</p>
    <button id="cambiarClase">Cambiar Clase</button>
  
    <br />
    <input type="text" id="nombres" class="clase" value="" />
    <input type="text" id="apellidos" class="clase1" value="" />
    <input type="text" id="edad" class="clase1" value="" />
    <input type="text" id="sexo" class="clase1" value="" />
    <button id="limpiar">Limpiar</button>
    <button id="limpiar2">Limpiar2</button>

    <button id="mensaje1" class="clase2" >Mensaje1</button><br />
    <button id="mensaje2" class="clase2">Mensaje2</button><br />
    <button id="mensaje3" class="clase2">Mensaje3</button><br />
    <button id="mensaje4" class="clase2">Mensaje4</button>


    <p>Hello</p>
<p>and</p>
<p>Goodbye</p


</body>
<script type="text/javascript">
    $(document).ready(function () {

        $("p").last().addClass("selected");
        $('.clase2').click(function () {
            alert('Bienvenido Codigo');            
        });        

        $('#limpiar').click(function () {
            alert('Estoy en Limpiar Id');
            $('#nombres').val('');
            $('#apellidos').val('');
            $('#edad').val('');
            $('#sexo').val('');            
        });

        $('#limpiar2').click(function () {
            $('.clase1').val('');           
        });


        $('#mostrar').click(function () {
            alert('Estoy haciendo click');
        });

        $('#cambiar').click(function () {
            // Cambiar el texto del párrafo
            $('#miTexto').text('Nuevo texto con JQUERY');
            // Cambiar el valor del input
            $('#miInput').val('Nuevo valor con JQUERY');
            // Cambiar el atributo href del enlace
            $('#miEnlace').attr('href', 'https://www.bing.com');
        });
        $('#sumar').click(function () {
            var valor1 = $('#valor1').val();
            var valor2 = $('#valor2').val();           
            $('#resultado').val(eval(valor1) + eval(valor2));
        });
        $('#agregar').click(function () {
            $('#contenedor').append('<p>Elemento nuevo</p>');
        });
        $('#eliminar').click(function () {
            $('#contenedor p:last-child').remove();
        });
        $('#cambiarClase').click(function () {
            // alert('prueba');
            $('#miTextoEstilo').toggleClass('verde');
        });

       
    });
</script>
</html>