@model IEnumerable<Student>

@{
    ViewData["Title"] = "Lista de Estudiantes";
}

<h2>Lista de Estudiantes</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Número de Documento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentID</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.DocumentNumber</td>
            </tr>
        }
    </tbody>
</table>

<button id="createStudentButton" class="btn btn-primary">Crear Estudiante</button>

<!-- Modal -->
<div class="modal fade" id="createStudentModal" tabindex="-1" role="dialog" aria-labelledby="createStudentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createStudentLabel">Crear Estudiante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- El contenido del modal se carga aquí -->
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        // Cargar el contenido del modal
        $('#createStudentButton').click(function () {
            $.ajax({
                type: "GET",
                url: "/StudentAjax/CreateStudent",
                success: function (response) {
                    alert(response);
                    $('.modal-body').html(response);
                    $('#createStudentModal').modal('show');
                },
                error: function () {
                    alert('Hubo un error al cargar el formulario.');
                }
            });
        });
    });
</script>
