@{
    ViewData["Title"] = "Lista de Matriculas";
}

<h2>Lista de Matriculas</h2>

<button id="listEnrollmentsButton" class="btn btn-primary">Listar Matrículas</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Number</th>           
            <th>Student</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí se llenará la tabla con los estudiantes -->
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {

        loadEnrollments();

        $('#listEnrollmentsButton').click(function () {

            loadEnrollments();

        });

        function loadEnrollments() {
            var valor = 'prueba';
            $.ajax({
                type: "GET",
                url: "/EnrollmentsAjax/GetEnrollments?valor="+valor,
                success: function (enrollments) {

                    var tableBody = $('table tbody');
                    tableBody.empty(); // Vaciar la tabla

                    enrollments.forEach(function (enrollment) {
                        var newRow = `
                                            <tr>
                                                    <td>${enrollment.enrollmentID}</td>
                                                    <td>${enrollment.date}</td>
                                                    <td>${enrollment.number}</td>
                                                    <td>${enrollment.student.firstName + " " + enrollment.student.lastName}</td>
                                                    <td>${enrollment.course.name}</td>

                                            </tr>`;
                        tableBody.append(newRow);
                    });

                },
                error: function () {
                    alert('Hubo un error al listar los estudiantes.');
                }
            });
        }
    });

</script>